.visible {
    display: block!important
}

.hidden,.hidden-desktop,.visible-phone,.visible-tablet {
    display: none!important
}

@media screen and (min-width: 480px) and (max-width:767px) {
    .span-phone-landscape1 {
        width:6.20155%
    }

    .span-phone-landscape2 {
        width: 14.53488%
    }

    .span-phone-landscape3 {
        width: 22.86822%
    }

    .span-phone-landscape4 {
        width: 31.20155%
    }

    .span-phone-landscape5 {
        width: 39.53488%
    }

    .span-phone-landscape6 {
        width: 47.86822%
    }

    .span-phone-landscape7 {
        width: 56.20155%
    }

    .span-phone-landscape8 {
        width: 64.53488%
    }

    .span-phone-landscape9 {
        width: 72.86822%
    }

    .span-phone-landscape10 {
        width: 81.20155%
    }

    .span-phone-landscape11 {
        width: 89.53488%
    }

    .span-phone-landscape12 {
        width: 97.86822%
    }
}

@media screen and (max-width: 767px) {
    .visible-phone {
        display:inherit!important
    }

    .hidden-phone {
        display: none!important
    }

    .hidden-desktop {
        display: inherit!important
    }

    .visible-desktop {
        display: none!important
    }

    .text-left-phone {
        text-align: left!important
    }

    .text-right-phone {
        text-align: right!important
    }

    .text-center-phone {
        text-align: center!important
    }

    .overflow-phone {
        overflow: auto!important
    }

    .no-margin-phone {
        margin: 0!important
    }

    .margin-top-phone {
        margin-top: 20px!important
    }

    .margin-bottom-phone {
        margin-bottom: 20px!important
    }

    .span-phone1 {
        width: 6.20155%
    }

    .span-phone1.pushLeft,.span-phone1.pushRight {
        width: 8.33333%
    }

    .span-phone2 {
        width: 14.53488%
    }

    .span-phone2.pushLeft,.span-phone2.pushRight {
        width: 16.66667%
    }

    .span-phone3 {
        width: 22.86822%
    }

    .span-phone3.pushLeft,.span-phone3.pushRight {
        width: 25%
    }

    .span-phone4 {
        width: 31.20155%
    }

    .span-phone4.pushLeft,.span-phone4.pushRight {
        width: 33.33333%
    }

    .span-phone5 {
        width: 39.53488%
    }

    .span-phone5.pushLeft,.span-phone5.pushRight {
        width: 41.66667%
    }

    .span-phone6 {
        width: 47.86822%
    }

    .span-phone6.pushLeft,.span-phone6.pushRight {
        width: 50%
    }

    .span-phone7 {
        width: 56.20155%
    }

    .span-phone7.pushLeft,.span-phone7.pushRight {
        width: 58.33333%
    }

    .span-phone8 {
        width: 64.53488%
    }

    .span-phone8.pushLeft,.span-phone8.pushRight {
        width: 66.66667%
    }

    .span-phone9 {
        width: 72.86822%
    }

    .span-phone9.pushLeft,.span-phone9.pushRight {
        width: 75%
    }

    .span-phone10 {
        width: 81.20155%
    }

    .span-phone10.pushLeft,.span-phone10.pushRight {
        width: 83.33333%
    }

    .span-phone11 {
        width: 89.53488%
    }

    .span-phone11.pushLeft,.span-phone11.pushRight {
        width: 91.66667%
    }

    .span-phone12 {
        width: 97.86822%
    }

    .span-phone12.pushLeft,.span-phone12.pushRight {
        width: 100%
    }

    .grid-gutter-left-phone {
        margin-left: 2.13178%
    }

    .grid-gutter-right-phone {
        margin-right: 2.13178%
    }

    .align-center-phone {
        text-align: center!important
    }

    .half-column-phone-left {
        float: left;
        width: 50%;
        text-align: left
    }

    .half-column-phone-right {
        float: right;
        width: 50%;
        text-align: right
    }
}

@media screen and (min-width: 768px) and (max-width:979px) {
    .visible-tablet {
        display:inherit!important
    }

    .hidden-tablet {
        display: none!important
    }

    .hidden-desktop {
        display: inherit!important
    }

    .visible-desktop {
        display: none!important
    }

    .text-left-tablet {
        text-align: left!important
    }

    .text-right-tablet {
        text-align: right!important
    }

    .text-center-tablet {
        text-align: center!important
    }

    .span-tablet1 {
        width: 6.20155%
    }

    .span-tablet1.pushLeft,.span-tablet1.pushRight {
        width: 8.33333%
    }

    .span-tablet2 {
        width: 14.53488%
    }

    .span-tablet2.pushLeft,.span-tablet2.pushRight {
        width: 16.66667%
    }

    .span-tablet3 {
        width: 22.86822%
    }

    .span-tablet3.pushLeft,.span-tablet3.pushRight {
        width: 25%
    }

    .span-tablet4 {
        width: 31.20155%
    }

    .span-tablet4.pushLeft,.span-tablet4.pushRight {
        width: 33.33333%
    }

    .span-tablet5 {
        width: 39.53488%
    }

    .span-tablet5.pushLeft,.span-tablet5.pushRight {
        width: 41.66667%
    }

    .span-tablet6 {
        width: 47.86822%
    }

    .span-tablet6.pushLeft,.span-tablet6.pushRight {
        width: 50%
    }

    .span-tablet7 {
        width: 56.20155%
    }

    .span-tablet7.pushLeft,.span-tablet7.pushRight {
        width: 58.33333%
    }

    .span-tablet8 {
        width: 64.53488%
    }

    .span-tablet8.pushLeft,.span-tablet8.pushRight {
        width: 66.66667%
    }

    .span-tablet9 {
        width: 72.86822%
    }

    .span-tablet9.pushLeft,.span-tablet9.pushRight {
        width: 75%
    }

    .span-tablet10 {
        width: 81.20155%
    }

    .span-tablet10.pushLeft,.span-tablet10.pushRight {
        width: 83.33333%
    }

    .span-tablet11 {
        width: 89.53488%
    }

    .span-tablet11.pushLeft,.span-tablet11.pushRight {
        width: 91.66667%
    }

    .span-tablet12 {
        width: 97.86822%
    }

    .span-tablet12.pushLeft,.span-tablet12.pushRight {
        width: 100%
    }

    .offset-tablet1 {
        margin-left: 10.46512%
    }

    .offset-tablet2 {
        margin-left: 18.79845%
    }

    .offset-tablet3 {
        margin-left: 27.13178%
    }

    .offset-tablet4 {
        margin-left: 35.46512%
    }

    .offset-tablet5 {
        margin-left: 43.79845%
    }

    .offset-tablet6 {
        margin-left: 52.13178%
    }

    .offset-tablet7 {
        margin-left: 60.46512%
    }

    .offset-tablet8 {
        margin-left: 68.79845%
    }

    .offset-tablet9 {
        margin-left: 77.13178%
    }

    .offset-tablet10 {
        margin-left: 85.46512%
    }

    .offset-tablet11 {
        margin-left: 93.79845%
    }

    .offset-tablet12 {
        margin-left: 102.13178%
    }
}

.container {
    width: 100%;
    max-width: 1010px
}

.lt-ie9 .container {
    width: 1010px!important
}

header .container {
    max-width: 1100px;
    width: 100%
}

[data-behavior*=meganav-content] .span8 {
    margin-left: 2.13178%;
    width: 64.5349%
}

ol.aa-step-indicator {
    left: 11px;
    position: relative;
    width: 99%
}

ol.aa-step-indicator .short-label {
    padding: 0 1em
}

ol.aa-step-indicator li {
    min-height: 22px;
    min-width: 9px
}

ol.aa-step-indicator li.current .placeholder,ol.aa-step-indicator li.current .short-desc {
    display: none!important
}

.pageslide,ol.aa-step-indicator li.current .long-desc,ol.aa-step-indicator li.current a {
    display: block!important
}

.pageslide {
    position: absolute!important;
    top: 0!important;
    height: 100%!important;
    min-height: 900px!important;
    z-index: 99!important;
    width: 260px;
    padding: 0 7px;
    background-color: #36495a;
    color: #ebeff0!important;
    overflow-y: auto;
    -webkit-box-shadow: 0 0 15px -8px #131313 inset;
    box-shadow: inset 0 0 15px -8px #131313
}

.pageslide>.pageslide-header {
    display: block;
    -webkit-box-shadow: 0 0 15px -8px #131313;
    box-shadow: 0 0 15px -8px #131313
}

.pageslide>.pageslide-container {
    height: 170%
}

.pageslide .menu {
    font-family: AmericanSansLight,Helvetica,Arial,sans-serif
}

.pageslide .menu-item,.pageslide .menu-list {
    margin: 9px 0;
    float: none
}

.pageslide .menu-item a,.pageslide .menu-list a {
    padding: 3%!important
}

.pageslide a,.pageslide a:hover,.pageslide button,.pageslide button:hover {
    color: #ebeff0
}

.pageslide .menu-item .menu-list li {
    font-size: 14px;
    font-size: 1rem;
    line-height: 20px;
    font-family: Arial,sans-serif
}

.pageslide .menu-item .menu-list li a:after {
    content: "\00a0\00bb"
}

.pageslide .menu-list {
    padding-left: 10px
}

.pageslide-button {
    float: left;
    width: 40px;
    padding: 8px 7px 3px;
    margin-right: 10px;
    background-color: #fff;
    border: 0;
    position: relative;
    overflow: hidden
}

.pageslide-button[data-position*=right] {
    float: right;
    margin-right: 0
}

.pageslide-button.icon-on {
    background-color: #0078d2;
    color: #fff
}

@media (max-width: 479px) {
    .container {
        min-width:240px
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {
    .container {
        min-width:460px
    }
}

@media screen and (max-width: 767px) {
    body {
        -webkit-text-size-adjust:none
    }

    .alert-system .container,.container {
        width: auto
    }

    .row,.row-form {
        margin-left: 0
    }

    .row-form>[class*=span],.row>[class*=span] {
        float: none;
        width: 100%;
        margin-left: 0
    }

    .row-noBreak>[class*=span] {
        float: left;
        margin-left: 2.13178%
    }

    .row-noBreak>[class*=span].pushLeft {
        margin-left: 0
    }

    .row-noBreak>[class*=span].offset1 {
        margin-left: 10.46512%
    }

    .row-noBreak>[class*=span].offset2 {
        margin-left: 18.79845%
    }

    .row-noBreak>[class*=span].offset3 {
        margin-left: 27.13178%
    }

    .row-noBreak>[class*=span].offset4 {
        margin-left: 35.46512%
    }

    .row-noBreak>[class*=span].offset5 {
        margin-left: 43.79845%
    }

    .row-noBreak>[class*=span].offset6 {
        margin-left: 52.13178%
    }

    .row-noBreak>[class*=span].offset7 {
        margin-left: 60.46512%
    }

    .row-noBreak>[class*=span].offset8 {
        margin-left: 68.79845%
    }

    .row-noBreak>[class*=span].offset9 {
        margin-left: 77.13178%
    }

    .row-noBreak>[class*=span].offset10 {
        margin-left: 85.46512%
    }

    .row-noBreak>[class*=span].offset11 {
        margin-left: 93.79845%
    }

    .row-noBreak>[class*=span].offset12 {
        margin-left: 102.13178%
    }

    .row-form>[class*=span]+[class*=span] {
        margin-top: 20px
    }

    .skip-link a:focus {
        position: relative
    }

    .row-noBreak+.row-noBreak {
        margin-top: 6px
    }

    h1 {
        margin: 0 0 20px
    }

    .alpha,h1 {
        font-size: 32px;
        font-size: 2.28571rem;
        line-height: 38px
    }

    .alpha,.beta,h1,h2 {
        font-family: AmericanSansLight,Helvetica,Arial,sans-serif
    }

    .beta,h2 {
        font-size: 27px;
        font-size: 1.92857rem;
        line-height: 33px
    }

    .gamma,h3 {
        font-family: AmericanSansLight,Helvetica,Arial,sans-serif;
        font-size: 21px;
        font-size: 1.5rem;
        line-height: 27px
    }

    .btn {
        width: 100%;
        min-width: 0
    }

    .btn+.btn {
        margin: 10px 0 0!important
    }

    .call-to-action {
        white-space: normal
    }

    [data-behavior*=meganav-content] {
        display: none!important
    }

    header #main-navigation {
        border-bottom: 1px solid #f5f5f7;
        margin-left: 0
    }

    header #main-navigation .mobile-logo {
        float: left
    }

    header #main-navigation .mobile-logo .aa-logo {
        margin-bottom: 14px
    }

    header #main-navigation .mobile-logo .aa-logo img {
        display: block;
        height: 24px;
        margin-top: 16px;
        max-width: none
    }

    header #main-navigation .mobile-nav {
        float: right
    }

    header #main-navigation .mobile-nav .utility-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    header #main-navigation .login-button {
        background-color: #0078d2;
        color: #fff;
        padding: 6px 17px;
        border-radius: 4px;
        min-height: 2.57rem
    }

    header #main-navigation .join-button,header #main-navigation .login-button {
        font-size: 1rem;
        font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
        min-width: 76px;
        text-align: center;
        line-height: 25px;
        text-transform: uppercase
    }

   

    header #main-navigation #utilityCustomerInfo-phone.customer-info,header #main-navigation #utilityCustomerInfo.customer-info {
        margin-top: 15px;
        margin-bottom: 13px;
        position: relative;
        bottom: 0;
        right: 0
    }

   

    header .mobile-utility #language-selector {
        z-index: 90
    }

    header .mobile-utility .js-dropdown-panel {
        z-index: 89
    }

    header .container {
        padding: 0 3%;
        margin-bottom: 20px;
        background: none;
        width: auto
    }

    header .container .menu-utility {
        float: none;
        margin: 0
    }

    header .container .menu-utility .customer-info {
        float: left
    }

    header .container .menu-utility .customer-info .js-dropdown-panel {
        right: auto;
        left: 6px
    }

    header .aa-logo {
        margin-top: 14px;
        margin-bottom: 5px;
        width: auto
    }

    header .pageslide-button {
        margin-top: 5px
    }

    header .pageslide-button i {
        margin-top: -2px
    }

    header #site-nav {
        display: none
    }

    header #utility-nav {
        position: relative
    }

    header #utility-nav [data-behavior~=dropdown] {
        float: right
    }

    header #utility-nav [data-behavior~=dropdown] .js-dropdown-panel {
        right: 6px;
        left: auto
    }

    header #utility-nav .customer-info {
        float: left
    }

    header #utility-nav .customer-info .js-dropdown-panel {
        right: auto;
        left: 6px
    }

    header #countrySelector {
        float: right
    }

    header #countrySelector .js-dropdown-panel {
        right: 6px;
        left: auto
    }

    header #aa-site-search {
        display: none
    }

    header .site-banner {
        height: auto;
        margin: 9px 0
    }

    header .site-logo {
        position: relative;
        bottom: 0
    }

    header .oneworld-logo {
        display: none
    }

    header .aa-logo img,header .site-logo img {
        max-width: 150px
    }

    #main {
        min-height: 0
    }

    footer {
        margin-top: 40px
    }

    #navigation #menu {
        margin: 0;
        padding: 0
    }

    #navigation #nav-common-links {
        margin: 0;
        padding: 10px 5px;
        border-bottom: 1px solid #ebeff0;
        display: block
    }

    #navigation #nav-common-links ul {
        padding: 0;
        background-image: none
    }

    #navigation ul {
        margin: 0;
        padding: 0
    }

    #navigation ul li {
        padding: 0;
        display: block;
        float: none
    }

    #navigation ul li:after {
        content: "";
        display: table;
        clear: both
    }

   

    #navigation ul li a,#navigation ul li button {
        padding: 14px 3%;
        position: relative;
        top: 0;
        font-family: AmericanSansLight,Helvetica,Arial,sans-serif;
        display: block;
        width: 100%;
        text-align: left
    }

    #navigation ul li a#aadvantage-expander,#navigation ul li a#plan-travel-expander,#navigation ul li a#travel-information-expander,#navigation ul li button#aadvantage-expander,#navigation ul li button#plan-travel-expander,#navigation ul li button#travel-information-expander {
        left: 0!important;
        height: 53px
    }

    #navigation ul li a#log-in-button,#navigation ul li button#log-in-button {
        display: none
    }

    #navigation ul li a i,#navigation ul li button i {
        display: inline-block;
        float: right
    }

    #navigation ul li a:hover,#navigation ul li button:hover {
        color: #ebeff0
    }

    #navigation ul li a:focus,#navigation ul li button:focus {
        color: #ebeff0;
        outline-color: #ebeff0
    }

    #navigation ul li.open a,#navigation ul li.open button {
        color: #ebeff0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    #navigation ul li.open a:after,#navigation ul li.open button:after {
        position: relative
    }

    #navigation ul li ul {
        margin: 0;
        padding: 0
    }

    #navigation ul li ul li a,#navigation ul li ul li button {
        width: 100%;
        font-size: 14px;
        font-size: 1rem;
        line-height: 20px;
        font-family: Arial,sans-serif;
        padding: 3% 3% 3% 8%;
        color: #ebeff0;
        display: block;
        border-bottom: 0
    }

    #navigation ul li ul li a:after,#navigation ul li ul li button:after {
        content: "\00a0\00bb"
    }

    #navigation ul li ul li a:focus,#navigation ul li ul li button:focus {
        color: #ebeff0;
        outline-color: #ebeff0
    }

    #navigation ul li ul li a:hover,#navigation ul li ul li button:hover {
        color: #ebeff0
    }

    #navigation ul li .sub-nav-links .common-links-ul,#navigation ul li .sub-nav-links>span {
        display: none
    }

    #navigation ul li .sub-nav-links>span,#navigation ul li .sub-nav-links>ul {
        margin-top: 0;
        margin-bottom: 0
    }

    #navigation #close>span {
        display: none
    }

   

    .ui-dialog.full-screen-dialog ul.list-select-mobile li a {
        font-family: AmericanSansLight,Helvetica,Arial,sans-serif;
        color: #0061ab;
        font-size: 21px;
        font-size: 1.5rem;
        line-height: 27px;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%
    }

    .ui-widget-overlay {
        width: 100%!important
    }

    .ui-autocomplete {
        width: 95%!important;
        left: 10px!important
    }

    .ui-autocomplete .ui-menu-item {
        padding: 5px 0 4px
    }

    .alert-box {
        width: 100%;
        max-width: 580px;
        margin-top: 0
    }

    .alert-box .alert-box-content h1 {
        font-size: 28px;
        font-size: 2rem
    }

   

    .is-responsive .toolbar {
        padding: 0;
        background: none;
        text-align: left
    }

    .is-responsive .toolbar li {
        width: inherit!important;
        min-height: inherit!important;
        border: none;
        margin: 5px 0
    }

    .is-responsive .toolbar [class*=icon] {
        display: none
    }

    .is-responsive .toolbar a {
        background-color: #ebeff0;
        font-family: AmericanSans,Helvetica,Arial,sans-serif;
        font-size: 18px;
        font-size: 1.28571rem;
        line-height: 24px;
        padding-right: 30px;
        position: relative
    }

    .is-responsive .toolbar a:after {
        content: " >";
        position: absolute;
        right: 10px;
        top: 9px
    }

    footer .container .span3 {
        margin-top: 36px
    }

    ul.list-columns {
        -moz-column-count: 1!important;
        -webkit-column-count: 1!important;
        column-count: 1!important
    }

    table[class*=-responsive] tbody,table[class*=-responsive] td,table[class*=-responsive] th,table[class*=-responsive] thead,table[class*=-responsive] tr {
        display: block;
        background-color: #ebeff0
    }

    table[class*=-responsive] tr {
        padding: 0!important
    }

    table[class*=-responsive] thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    table[class*=-responsive] tbody td {
        background-color: #fff;
        padding: 10px!important
    }

    table[class*=-responsive] tbody td[data-title] {
        display: inline-block;
        margin-left: 50%;
        position: relative;
        width: 50%
    }

    table[class*=-responsive] tbody td[data-title]:before {
        color: #36495a;
        content: attr(data-title);
        display: inline-block;
        float: left;
        font-family: AmericanSans,Helvetica,Arial,sans-serif;
        font-weight: 400;
        left: -20px;
        margin-left: -100%;
        position: relative;
        text-align: left;
        vertical-align: top;
        width: 100%
    }

    table[class*=-responsive] tbody td[data-title]+td[data-title] {
        padding-top: 0!important
    }

    table[class*=-responsive] tbody td.-empty {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    table[class*=-responsive] tbody td.-empty[data-title]+td[data-title] {
        padding: 10px!important
    }

    table[class*=-responsive].-responsive-small tbody td[data-title] {
        margin-left: 40%;
        width: 60%
    }

    table[class*=-responsive].-responsive-small tbody td[data-title]:before {
        margin-left: -64%;
        width: 64%
    }

    table[class*=-responsive].-responsive-large tbody td[data-title] {
        margin-left: 60%;
        width: 40%
    }

    table[class*=-responsive].-responsive-large tbody td[data-title]:before {
        margin-left: -158%;
        width: 158%
    }

    .text-bold-phone {
        font-weight: 700
    }

    .section.no-separator {
        background: none;
        border-top: none;
        margin-top: 15px;
        padding-top: 15px
    }
}

@media (max-width: 479px) {
    header #main-navigation .mobile-nav .utility-nav .login-button {
        background-color:#0078d2;
        color: #fff;
        border-radius: 4px;
        padding: 5px 6px
    }

    header #main-navigation .mobile-nav .utility-nav .join-button,header #main-navigation .mobile-nav .utility-nav .login-button {
        font-size: 1rem;
        font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
        min-width: 76px;
        text-align: center;
        line-height: 25px;
        font-size: 10px;
        line-height: 18px;
        min-width: 50px;
        min-height: 28px;
        margin: 12px 0
    }

    header #main-navigation .mobile-nav .utility-nav .join-button {
        background-color: #fff;
        color: #0078d2;
        border: 1px solid #0078d2;
        border-radius: 4px;
        padding: 4px 6px
    }
}

@media screen and (min-width: 768px) and (max-width:979px) {
    .container {
        min-width:739px
    }

    #site-nav .menu-item a {
        padding-left: 17px;
        padding-right: 17px;
        line-height: normal;
        font-size: 17px;
        font-size: 1.21429rem
    }

    #aa-lang-es #site-nav .menu-item a,#aa-lang-pt #site-nav .menu-item a {
        padding-left: 6px;
        padding-right: 6px
    }

    ol.aa-step-indicator.three li {
        width: 24%
    }

    ol.aa-step-indicator.three li.current {
        width: 44%
    }

    ol.aa-step-indicator.four li {
        width: 18%
    }

    ol.aa-step-indicator.four li.current {
        width: 36%
    }

    ol.aa-step-indicator.five li {
        width: 14%
    }

    ol.aa-step-indicator.five li.current {
        width: 32%
    }

    ol.aa-step-indicator.six li {
        width: 12%
    }

    ol.aa-step-indicator.six li.current {
        width: 26%
    }

    ol.aa-step-indicator.seven li {
        width: 10%
    }

    ol.aa-step-indicator.seven li.current {
        width: 24%
    }

    ol.aa-step-indicator.eight li {
        width: 8%
    }

    ol.aa-step-indicator.eight li.current {
        width: 26%
    }

    ol.aa-step-indicator.nine li {
        width: 6%
    }

    ol.aa-step-indicator.nine li.current {
        width: 28%
    }

    header .aa-logo {
        margin-top: 0
    }

    footer .container .ad-container-footer {
        margin-top: 36px
    }
}

@media screen and (max-width: 1032px) {
    .container {
        padding-left:3%;
        padding-right: 3%
    }

    #plan-travel-expander,#travel-information-expander {
        padding: 5px 5px 18px!important
    }

    #travel-information-expander {
        left: 50.5%!important
    }

    #aadvantage-expander {
        left: 75.8%!important;
        padding: 5px 5px 18px!important
    }

    #aa-lang-es #plan-travel-expander {
        font-size: 14px!important
    }

    #aa-lang-es #travel-information-expander {
        left: 54%!important;
        font-size: 14px!important
    }

    #aa-lang-es #aadvantage-expander {
        left: 77.8%!important;
        font-size: 14px!important
    }

    #aa-lang-pt #plan-travel-expander {
        font-size: 14px!important
    }

    #aa-lang-pt #travel-information-expander {
        left: 52.3%!important;
        font-size: 14px!important
    }

    #aa-lang-pt #aadvantage-expander {
        left: 77.8%!important;
        font-size: 14px!important
    }

    #aa-lang-fr #plan-travel-expander {
        font-size: 14px!important
    }

    #aa-lang-fr #travel-information-expander {
        left: 54%!important;
        font-size: 14px!important
    }

    #aa-lang-fr #aadvantage-expander {
        left: 77.8%!important;
        font-size: 14px!important
    }
}

#aa-meta-login,#utilityCustomerInfo {
    display: none
}

@media (max-width: 1100px) {
    #aa-meta-login {
        display:block
    }

    #aa-meta-login #loginLogoutLink {
        background-color: #0078d2;
        font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
        color: #fff!important;
        height: 30px;
        min-width: 75px;
        line-height: 33px!important;
        padding: 0 5px;
        position: inherit;
        top: auto;
        left: auto;
        margin: 0 10px 5px;
        display: block;
        text-align: center;
        border-radius: 4px;
        text-transform: uppercase
    }

    #log-in-button {
        display: none
    }

    #utilityCustomerInfo {
        display: block;
        margin-bottom: 5px
    }

    #utilityCustomerInfo .js-dropdown-wrapper {
        display: block;
        position: relative;
        left: auto;
        margin: 0;
        color: #0061ab
    }

    #utilityCustomerInfo .js-dropdown-wrapper .js-dropdown-trigger {
        position: relative;
        margin: 0 10px;
        color: #0061ab;
        text-transform: lowercase;
        height: 36px;
        border-radius: 4px;
        background: #e1f0fa url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNnB0IiBoZWlnaHQ9IjE2cHQiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAtMSAwIDE2KSIgZD0iTTggMTZBOCA4IDAgMTA4IDBhOCA4IDAgMDAwIDE2em0wLS43MjdDMy45OSAxNS4yNzMuNzI3IDEyLjAxLjcyNyA4UzMuOTkuNzI3IDggLjcyNyAxNS4yNzMgMy45OSAxNS4yNzMgOCAxMi4wMSAxNS4yNzMgOCAxNS4yNzN6TTggOGEzLjYzNyAzLjYzNyAwIDAwMy42MzYtMy42MzZjMC0uMzU5LS4wNjctLjY5OC0uMTY0LTEuMDI1YTUuNzg1IDUuNzg1IDAgMDAtNi45NDQgMCAzLjU5MiAzLjU5MiAwIDAwLS4xNjQgMS4wMjVBMy42MzcgMy42MzcgMCAwMDggOHptMCA1LjA5YTIuMTgyIDIuMTgyIDAgMTAwLTQuMzYyIDIuMTgyIDIuMTgyIDAgMDAwIDQuMzYzeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9jbGlwUGF0aD48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxjbGlwUGF0aCBpZD0iYiI+PHBhdGggdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLTEgMCAxNikiIGQ9Ik0tMTA2MS00OTRIOTYyVjcyNGgtMjAyM3oiLz48L2NsaXBQYXRoPjxnIGNsaXAtcGF0aD0idXJsKCNiKSI+PHBhdGggZD0iTS01LTVoMjZ2MjZILTV6IiBmaWxsPSIjMDA3OGQyIi8+PC9nPjwvZz48L3N2Zz4=") no-repeat 10px 10px;
        background-size: 16px;
        min-width: 65px
    }

    #utilityCustomerInfo .js-dropdown-wrapper .js-dropdown-trigger:hover .user-greeting {
        text-decoration: underline
    }

    #utilityCustomerInfo .js-dropdown-wrapper .js-dropdown-trigger:focus {
        background-position-y: 8px
    }

    #utilityCustomerInfo .js-dropdown-wrapper .js-dropdown-trigger:focus .user-greeting {
        padding-left: 22px;
        margin-top: 4px
    }

    #utilityCustomerInfo .js-dropdown-wrapper .user-greeting {
        display: inline-block;
        font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
        padding-left: 20px;
        padding-right: 10px;
        max-width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 6px
    }

    #utilityCustomerInfo .js-dropdown-wrapper .user-greeting:first-letter {
        text-transform: uppercase
    }

    #utilityCustomerInfo .account-panel {
        top: 46px;
        position: absolute;
        min-width: 220px;
        height: auto;
        -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
        border-radius: 4px;
        background: #fff;
        padding: 24px 16px 0;
        margin-bottom: 20px;
        z-index: 2;
        line-height: 25px
    }

    #utilityCustomerInfo .account-panel .account-dropdown--name {
        display: inline-block;
        max-width: 188px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.1em;
        font-family: AmericanSansMedium,Calibri,Helvetica,Arial,sans-serif;
        font-size: 20px;
        text-transform: lowercase
    }
   

   

.is-responsive .ui-datepicker {
    display: none;
    border: 1px solid #627a88;
    width: 21.3em;
    z-index: 999!important
}

.is-responsive .ui-datepicker .ui-datepicker-calendar tbody .ui-datepicker-current-day a {
    color: #fff!important
}

.is-responsive .ui-dialog .aa-dialog-content-wrapper {
    width: auto!important
}

.is-mobile .is-hidden-mobile {
    display: none!important
}

.is-mobile header .float-right {
    float: right
}

.is-mobile header #utility-nav {
    background-image: url(/content/images/chrome/rebrand/shadow12-down.png);
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    margin-bottom: 9px
}

.is-mobile header #navigation.pageslide #menu {
    height: 150%
}

.is-mobile header #aa-meta-login,.is-mobile header #utilityCustomerInfo,.is-mobile header #utilityCustomerInfo-phone {
    position: absolute;
    bottom: -40px;
    right: 55px;
    z-index: 100
}

.is-mobile header #utilityCustomerInfo,.is-mobile header #utilityCustomerInfo-phone {
    right: 35px
}



.is-mobile header #countrySelector.is-homePage {
    display: block!important
}

.is-mobile footer {
    background-color: #627a88;
    background-image: none;
    color: #d0dae0;
    padding-bottom: 5px
}

.is-mobile footer a {
    color: #f5f5f7
}

.is-mobile footer .footer-head {
    padding: 0 0 18px;
    margin: 0
}

.is-mobile footer .footer-icons {
    background-image: url(img/shadow12-down.png);
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    padding: 18px 0 0;
    margin: 0
}

.is-mobile footer .container {
    font-size: 14px;
    font-size: 1rem;
    line-height: 20px;
    font-family: AmericanSans,Helvetica,Arial,sans-serif;
    padding: 10px
}

.is-mobile footer .container ul {
    padding-bottom: 6px;
    margin-bottom: 5px;
    border-bottom: 1px solid #36495a
}

.is-mobile footer .container ul li {
    margin-bottom: 6px
}

.is-mobile footer .container .footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.is-mobile footer .container .footer-nav .nav-links {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.is-mobile footer .container .footer-nav .nav-links a {
    float: left
}

.is-mobile footer .container .footer-nav .nav-links a span:before {
    content: "\B7";
    padding: 0 7px
}

.is-mobile footer .container .footer-nav .nav-links a:last-of-type span:before {
    content: "";
    padding: 0
}

.is-mobile footer .container .footer-nav #oneworldFooter {
    width: 30px;
    position: relative
}

.is-mobile footer .container .footer-nav #oneworldFooter img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    max-height: 30px
}

.is-mobile input,.is-mobile select,.is-mobile textarea {
    font-size: 16px!important;
    font-size: 1.14286rem!important
}

.is-mobile .ui-datepicker {
    width: 94%!important
}

.is-mobile .ui-datepicker .ui-datepicker-calendar a:before {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0
}

.is-mobile .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
    width: 73.9%!important
}

}